/*Art CSS*/

* {
	box-sizing: border-box;
}

/*-------
grid
-------*/

.grid:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    overflow: hidden;
    padding: 0 5px;
}



.two-thirds {
	width: 66.66%
}

.one-third {
	width: 33.33%
}

.fifty {
    width: 50%;
}

.quarter {
	width: 25%;
}

@media screen and (max-width: 740px) {
    .column {
        width: 100%;
        float: none;
        display: block;
        margin-top: 10px;
    }
    .two-thirds {
    	width: 100%
    }
    .one-third {
    	width: 100%
    }
    .quarter {
    	width: 100%;
    }
}

@media screen and (min-width: 741px) and (max-width: 1023px) {
	.quarter {
		width: 50%;
	}
}

/*Page styles*/

body {
	/*background-image: url('../../art-img/video/moon_blood_silent.mp4');*/
	background-color: black;
	font-family: 'Open Sans', sans-serif;
}

video.fullscreen {
	position: fixed;
 	top: 50%;
 	left: 50%;
 	min-width: 100%;
 	min-height: 100%;
 	width: auto;
	height: auto;
	z-index: -100;
 	transform: translate(-50%, -50%);
}

.text-backer {
	background-color: rgba(0,0,0,0.5);
	width: 80%;
	margin: 0 auto;
	padding: 40px;
	/*text-align: center;*/
	border-radius: 5px;
	color: white;
}

h1, h2, h3, caption {
	font-family: 'Martel', serif;
}

h1 {
	color: white;
	text-align: center;
}

p {
	color: white;
	text-align: center;
}

.thumb {
	width: 100%;
	/*background-color: pink; */
}

.thumb img {
	width: 100%;
	height: auto;
	border-radius: 5px;
}

.thumb a {
	text-decoration: none;
	color: inherit;
}

.lightbox {
	width: 200%;
    height: 600px;
    position: absolute;
    left: -50%;
    padding: 0 50px;
}

.lightbox img {
	height: 100%;
	display: inline-block;
}


/*.photo-one img {

}*/


